@import './vars/spaces';

@mixin newFont($family,$pathName,$weight, $style: normal) {
    @font-face {
        font-family: '#{$family}';
        src: url('/fonts/#{$pathName}.woff2') format('woff2'), url('/fonts/#{$pathName}.woff') format('woff');
        font-weight: #{$weight};
        font-style: $style;
        font-display: swap;
    }
}

@function hsla-str($color) {
    @return unquote('hsla(#{hue($color)/1deg}, #{saturation($color)}, #{lightness($color)}, #{alpha($color)})');
}

@function hsla-new($color, $options) {
    $newL: lightness($color);
    $newA: alpha($color);
    $newS: saturation($color);

    @if (map-get($options, 'l')) {
        $newL: map-get($options, 'l');
    }

    @if (map-get($options, 'a')) {
        $newA: map-get($options, 'a');
    }

    @if (map-get($options, 's')) {
        $newS: map-get($options, 's');
    }

    @return hsla(hue($color)/1deg, $newS, $newL, $newA);
}

@function toRem($size) {
    $remSize: calc($size / 12 * 1rem);

    @return $remSize;
}

@function freezeRem($size) {
    $newSize: $size * 1.2 * 1px;

    @return $newSize;
}

@mixin getIcon($name) {
    content: map-get($icons, $name);
}

@mixin iconsModify() {
    @each $name, $glyph in $icons {
        &--#{$name} {
            &::before {
                content: $glyph;
            }
        }
    }
}

@mixin getPositionStyle($style, $direction, $value) {
    @if $direction == $style {
        #{ $direction }: $value;
    } @else if $direction == vertical {
        $styleNameTop: #{ $style } + '-top';
        $styleNameBottom: #{ $style } + '-bottom';

        #{$styleNameTop}: $value;
        #{$styleNameBottom}: $value;
    } @else if $direction == horizontal {

        $styleNameLeft: #{ $style } + '-left';
        $styleNameRight: #{ $style } + '-right';

        #{$styleNameLeft}: $value;
        #{$styleNameRight}: $value;
        #{ $style }: 0 $value;
    } @else if $direction == both {
        #{ $style }: $value;
    } @else {
        $styleName: #{ $style } + '-' + #{ $direction };

        #{ $styleName }: #{$value};
    }
}

@mixin marginLevel($direction, $color, $sign: plus) {
    $styleName: margin;

    @each $spaceLevel, $pixels in $spaces {
        @if $spaceLevel == $color {
            @if (length(map-get($spaces, $spaceLevel)) == 1) {
                $value: nth(map-get($spaces, $spaceLevel), 1);

                @if ($sign == minus) {
                    $value: -#{$value};
                }

                @include getPositionStyle($styleName, $direction, $value);
            } @else {
                @if (nth(map-get($spaces, $spaceLevel), 1) == nth(map-get($spaces, $spaceLevel), 2)) {
                    @media (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }
                } @else if (nth(map-get($spaces, $spaceLevel), 2) == nth(map-get($spaces, $spaceLevel), 3)) {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }
                } @else {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }
                }
            }
        }
    }
}

@mixin paddingLevel($direction,$color) {
    @each $spaceLevel, $pixels in $spaces {
        @if $spaceLevel == $color {
            @if (length(map-get($spaces, $spaceLevel)) == 1) {
                $value: nth(map-get($spaces, $spaceLevel), 1);

                @include getPositionStyle(padding, $direction, $value);
            } @else {
                @if (nth(map-get($spaces, $spaceLevel), 1) == nth(map-get($spaces, $spaceLevel), 2)) {
                    @media (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @include getPositionStyle(padding, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                        @include getPositionStyle(padding, $direction, $value);
                    }
                } @else if (nth(map-get($spaces, $spaceLevel), 2) == nth(map-get($spaces, $spaceLevel), 3)) {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @include getPositionStyle(padding, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                        @include getPositionStyle(padding, $direction, $value);
                    }
                } @else {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @include getPositionStyle(padding, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                        @include getPositionStyle(padding, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                        @include getPositionStyle(padding, $direction, $value);
                    }
                }
            }
        }
    }
}

@mixin positionLevel($direction,$color,$sign: plus) {
    $styleName: $direction;

    @each $spaceLevel, $pixels in $spaces {
        @if $spaceLevel == $color {
            @if (length(map-get($spaces, $spaceLevel)) == 1) {
                $value: nth(map-get($spaces, $spaceLevel), 1);

                @if ($sign == minus) {
                    $value: -#{$value};
                }

                @include getPositionStyle($styleName, $direction, $value);
            } @else {
                @if (nth(map-get($spaces, $spaceLevel), 1) == nth(map-get($spaces, $spaceLevel), 2)) {
                    @media (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                    if($sign == minus) {
                        $value: -#{$value};
                    } @include getPositionStyle($styleName, $direction, $value);
                    }
                } @else if (nth(map-get($spaces, $spaceLevel), 2) == nth(map-get($spaces, $spaceLevel), 3)) {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }
                } @else {
                    @media (max-width: $maxMobile) {
                        $value: nth(map-get($spaces, $spaceLevel), 1);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $tablet) and (max-width: $maxTablet) {
                        $value: nth(map-get($spaces, $spaceLevel), 2);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }

                    @media (min-width: $desktop) {
                        $value: nth(map-get($spaces, $spaceLevel), 3);

                        @if ($sign == minus) {
                            $value: -#{$value};
                        }

                        @include getPositionStyle($styleName, $direction, $value);
                    }
                }
            }
        }
    }
}

@mixin fontSize($name, $options:()) {
    @each $tagName, $tagValue in $tags {
        @if $tagName == $name {

            $selectedTag: map-get($tags, $tagName);
            $fontSize: nth($selectedTag, 1);
            $lineHeight: nth($selectedTag, 2);

            font-size: $fontSize;
            line-height: $lineHeight;

            @if map-get($options, weight) {
                font-weight: #{map-get($options, weight)};
            }

            @if map-get($options, style) {
                font-style: map-get($options, style);
            }

            @if map-get($options, mono) {
                @include mono-space;
            }
        }
    }
}

@mixin center($position:'both') {
    position: absolute;

    @if $position == 'vertical' {
        top: 50%;
        transform: translateY(-50%);
    } @else if $position == 'horizontal' {
        left: 50%;
        transform: translateX(-50%);
    } @else if $position == 'both' {
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    } @else if $position == 'stretch' {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

@function to-unit($value) {
    @if type-of($value) != 'string' {
        @error 'Value for `to-unit` should be a string.';
    }

    $units: ('px': 1px, 'cm': 1cm, 'mm': 1mm, '%': 1%, 'ch': 1ch, 'pc': 1pc, 'in': 1in, 'em': 1em, 'rem': 1rem, 'pt': 1pt, 'ex': 1ex, 'vw': 1vw, 'vh': 1vh, 'vmin': 1vmin, 'vmax': 1vmax);
    $parsed-unit: false;

    @each $unit in $units {
        @if (str-index($value, nth($unit, 1))) {
            $parsed-unit: nth($unit, 2);
        }
    }

    @if (not $parsed-unit) {
        @error 'Invalid unit `#{$value}`.';
    }

    @return $parsed-unit;
}

@mixin ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
}

@mixin mono-space {
    font-feature-settings: 'tnum' on, 'lnum' on;
}

@mixin stretch-on-container {
    @media (max-width: $maxMobile) {
        margin-left: -5.555%;
        margin-right: -5.555%;
        padding-left: 5.555%;
        padding-right: 5.555%;
    }

    @media (min-width: $tablet) and (max-width: $maxMobileLate) {
        margin-left: -7.828%;
        margin-right: -7.828%;
        padding-left: 7.828%;
        padding-right: 7.828%;
    }

    @media (min-width: $tabletLate) and (max-width: $maxTablet) {
        margin-left: -6.47%;
        margin-right: -6.47%;
        padding-left: 6.47%;
        padding-right: 6.47%;
    }

    @media (min-width: $desktop) {
        margin-left: toRem(-20);
        margin-right: toRem(-20);
        padding-left: toRem(20);
        padding-right: toRem(20);
    }
}

@mixin stretch-on-modal-container {
    @media (max-width: $maxMobile) {
        margin-left: -5.555%;
        margin-right: -5.555%;
        padding-left: 5.555%;
        padding-right: 5.555%;
    }

    @media (min-width: $tablet) {
        margin-left: toRem(-20);
        margin-right: toRem(-20);
        padding-left: toRem(20);
        padding-right: toRem(20);
    }
}

@mixin container-padding {
    padding-left: $containerPaddingMobile;
    padding-right: $containerPaddingMobile;
    @include media-tablet {
        padding-left: $containerPaddingTablet;
        padding-right: $containerPaddingTablet;
    }

    @include media-tabletLate {
        padding-left: $containerPaddingTabletLate;
        padding-right: $containerPaddingTabletLate;
    }

    @include media-desktop {
        padding-left: $containerPaddingDesktop;
        padding-right: $containerPaddingDesktop;
    }
}


@mixin media-hover-device {
    @media (hover: hover), (min-width: $desktop) {
        @content;
    }
}

@mixin media-tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin media-tabletLate {
    @media (min-width: $tabletLate) {
        @content;
    }
}

@mixin media-desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

@mixin media-maxMobile {
    @media (max-width: $maxMobile) {
        @content;
    }
}

@mixin media-maxMobileLate {
    @media (max-width: $maxMobileLate) {
        @content;
    }
}

@mixin media-maxTablet {
    @media (max-width: $maxTablet) {
        @content;
    }
}


@mixin flex-page {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}
