$icons: (
    plus:                   '\ea01',
    user:                   '\ea02',
    burger-menu:            '\ea03',
    close:                  '\ea04',
    chevron-double-left:    '\ea05',
    chevron-double-right:   '\ea06',
    chevron-left:           '\ea07',
    chevron-right:          '\ea08',
    filter:                 '\ea09',
    calendar:               '\ea10',
    filter-fill:            '\ea0A',
    sorting:                '\ea0B',
    sorting-reverse:        '\ea0C',
    eye:                    '\ea0D',
    eye-close:              '\ea0E',
    warning:                '\ea0F',
    check:                  '\ea11',
    minus:                  '\ea12',
    search:                 '\ea13',
    chevron-down:           '\ea14',
    chevron-top:            '\ea15',
    edit:                   '\ea16',
    exit:                   '\ea17',
    trash:                  '\ea18',
    check-fill:             '\ea19',
    close-fill:             '\ea1A',
    warning-fill:           '\ea1B',
    download:               '\ea1C',
    update:                 '\ea1D',
    menu:                   '\ea1E',
    question-fill:          '\ea1F',
    extract:                '\ea20',
);
