$radiusS: toRem(6);
$radiusM: toRem(8);
$radiusButton: toRem(8);
$radiusCardM: toRem(8);
$radiusCardL: toRem(12);
$radiusRound: toRem(16);

$containerMaxWidth: toRem(992);

$containerPaddingMobile: 3.75%;
$containerPaddingTablet: 6.769%;
$containerPaddingTabletLate: 5.729%;
$containerPaddingDesktop: toRem(20);

$zIndexSidebar: 10;
$zIndexModal: 11;
$zIndexToast: 100;
$zIndexContextMenu: 100;

$sidebarWidth: toRem(256);
$filterWidth: toRem(240);
